# ─── Infrastructure ────────────────────────────────────────────────────
LOCALSTACK_ENDPOINT=http://localstack:4566
AWS_REGION=us-east-1
S3_BUCKET=fintech-raw-data

# ─── PostgreSQL ─────────────────────────────────────────────────────────
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=fintech_dw
POSTGRES_USER=fintech_user
POSTGRES_PASSWORD=CHANGE_ME_BEFORE_USE

# ─── Airflow ────────────────────────────────────────────────────────────
AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://fintech_user:CHANGE_ME_BEFORE_USE@postgres:5432/airflow
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://fintech_user:CHANGE_ME_BEFORE_USE@postgres:5432/airflow
AIRFLOW__CELERY__BROKER_URL=redis://redis:6379/0
AIRFLOW_FERNET_KEY=GENERATE_WITH_python_-c_"from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW_SECRET_KEY=GENERATE_WITH_python_-c_"import secrets; print(secrets.token_hex(32))"
AIRFLOW_UID=50000

# ─── Spark ──────────────────────────────────────────────────────────────
SPARK_MASTER_URL=spark://spark-master:7077
SPARK_DRIVER_MEMORY=2g
SPARK_EXECUTOR_MEMORY=2g
SPARK_EXECUTOR_CORES=2

# ─── Data Generator ─────────────────────────────────────────────────────
GENERATOR_BATCH_SIZE=1000
GENERATOR_FRAUD_RATE=0.02

# ─── Streamlit ──────────────────────────────────────────────────────────
STREAMLIT_SERVER_PORT=8501
STREAMLIT_DB_CONNECTION=postgresql://fintech_user:CHANGE_ME_BEFORE_USE@postgres:5432/fintech_dw

# ─── Grafana ────────────────────────────────────────────────────────────
GRAFANA_PASSWORD=CHANGE_ME_BEFORE_USE
